/* Reset code */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Barlow', sans-serif;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

/* header code */
nav{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 17px;
    z-index: 1;
    height: 90px;
}
a.nav-link {
    color: rgb(192, 189, 189) !important;
    font-weight: 500;
}
a.nav-link:hover{
    color: #b18c56 !important;
    transition: .3s;
}
.dropdown-toggle::after {
    display: none !important;
}
a.nav-link:hover .dropdown-menu{
    display: block !important;
}
